<?xml version="1.0"?>
<!--
/**
 * @package     HitarthPattani\TwoFactorAuth
 * @author      Hitarth Pattani <hitarthpattani@gmail.com>
 * @copyright   Copyright © 2022. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="twofactorauth">
            <group id="email" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0"  showInStore="0">
                <label>Email</label>
                <field id="authenticator_code_sender_identity" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Authenticator Code Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="resend_code_in" translate="label" type="text" sortOrder="20" showInDefault="1"  showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Resend code in (seconds)</label>
                </field>
                <group id="otp" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"  showInStore="0">
                    <label>One Time Password</label>
                    <field id="type" translate="label" type="select" sortOrder="10" showInDefault="1"  showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Type</label>
                        <source_model>HitarthPattani\TwoFactorAuth\Model\Source\Config\Otptype</source_model>
                    </field>
                    <field id="length" translate="label comment" type="text" sortOrder="20" showInDefault="1"  showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Length</label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
